<div class="dropdown text-end">
	<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<img src="./../img/user_icon.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
	</a>
	<ul class="dropdown-menu text-small">
		<li><a class="dropdown-item" href="./my_profile.php">My profile</a></li> 
		<li><a class="dropdown-item" href="./my_lists.php">My lists</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="./create_list.php">New list</a></li>
		<li><a class="dropdown-item" href="./new_item.php">New item</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="./logout.php">Sign out</a></li>
	</ul>
</div>