{% extends "base.html" %}

{% block title %}Login - Copeland - Drum sets configurator{% endblock %}

{% block content %}
    <div class="col-10 col-lg-3 mx-auto">
        <h3 class="text-center">LOGIN</h3>

        {% block error %} {% endblock %}

        <form action="./php_inc/login.inc.php" method="POST">
            <input type="text" id="name" name="name" required class="form-control my-2" placeholder="Username">
                  
            <input type="password" id="password" name="password" required class="form-control my-2" placeholder="Password">

            <button class="w-100 btn btn-lg btn-primary my-2" type="submit" name="submit">Sign in</button>
        </form>
    </div>
{% endblock %}