{% extends "base.html" %}

{% block title %}My profile - Copeland - Drum sets configurator{% endblock %}

{% block nav %}
     {% include "header/choosed_header.twig" %}
{% endblock %}

{% block content %}
     {% if info is defined %}
          <div class="col-4"><table class="table table-striped"><tbody><tr><th scope="row">Username</th><td>{{ info.username }}</td></tr><tr><th scope="row">Email</th><td>{{ info.email }}</td></tr></tbody></table></div>
     {% endif %}
{% endblock %}
